
body {
    margin: 0;
    font-family: teko, sans-serif; 
    height: 100vh;
}

#hero-wrapper {
    margin: 30px 400px;
    margin-bottom: 150px;
}

.hero-sec {
    color: white;
    text-align: left;
}

.hero-sec h1 {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    max-width: 50%;
    margin: 0;
}

.hero-sec p {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 50px;
    color: #868686;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
  
}