<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <ul class="topnav">
        <li class="name"><a href="#home">JACOB LARSEN</a></li>
        <li class="right"><a href="#contact">CONTACT</a></li>
        <li class="right"><a href="#about">ABOUT</a></li>
        <li class="right"><a href="#work">WORK</a></li>
    </ul>

    <div id="wrapper">
        <div id="parent">
            <div class="hero-sec" id="child">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <a class="fa fa-linkedin-square" style="font-size:18px; color: #bebebe;" href="https://www.linkedin.com/in/jacob-larsen-9b7013239/"></a>
            </div>
        </div>
    </div>
</body>

</html>