<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <app-navbar></app-navbar>

    <div id="hero-wrapper">
        <div class="hero-sec">
            <h1>JACOB BREGNDAHL LARSEN</h1>
            <h2>ROBOTICS ENGINEER</h2>
            <p>I am a robotics engineer with a passion for creating innovative solutions within the field of robotics. I am seeking exciting opportunities where I can apply my skills and contribute to the development of advanced technological solutions.</p>
            <a class="fa fa-linkedin-square" style="font-size:18px; color: #bebebe; text-decoration: none;" href="https://www.linkedin.com/in/jacob-larsen-9b7013239/"></a>
        </div>
    </div>

    <div id="projects" *ngFor="let caseStudy of caseStudies">
        <app-case-study 
            [logo]="caseStudy.logo"
            [role]="caseStudy.role"
            [header]="caseStudy.header"
            [desc]="caseStudy.desc"
            [buttonText]="caseStudy.buttonText"
            [image]="caseStudy.image"
            [backgroundColor]="caseStudy.backgroundColor">
        </app-case-study>
        </div>

    <app-footer></app-footer>

</body>
</html>