<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <ul class="topnav">
        <li class="name"><a href="#home">JBL</a></li>
        <li class="right-edge"><a href="#contact">CONTACT</a></li>
        <li class="right"><a href="#about">ABOUT</a></li>
        <li class="right"><a href="#work">WORK</a></li>
    </ul>

    <div id="hero-wrapper">
        <div class="hero-sec">
            <h1>JACOB</h1>
            <h1>BREGNDAHL</h1>
            <h1>LARSEN</h1>
            <h2>ROBOTICS ENGINEER</h2>
            <p>I am a robotics engineer with a passion for creating innovative solutions within the field of robotics. I am seeking exciting opportunities where I can apply my skills and contribute to the development of advanced technological solutions.</p>
            <a class="fa fa-linkedin-square" style="font-size:18px; color: #bebebe;" href="https://www.linkedin.com/in/jacob-larsen-9b7013239/"></a>
        </div>
        <div class="hero-img">
            <img src="../assets/img/hero-img.jpg" alt="hero-img">
        </div>
    </div>

    <div>
        
    </div>


</body>

</html>