*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Fira Code';
}

.parent {
    position: relative;
    z-index: 1;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 40vh;
	width: 97vw;
}

#overlay {
    position: absolute;
	height: 40vh;
	width: 97vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10vw;
}

#overlay h4 {
    color: #33A18E;
	font-weight: 400;
	font-size: clamp(0.8rem, 1.2vw, 2.5rem);
	white-space: pre;
	margin-left: 1vw;
}

#overlay h1 {
	font-weight: 500;
    font-size: clamp(2rem, 8.5vw, 30rem);
	line-height: 0.9;
}

.footer-buttons {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	margin-left: 1vw;
}

.button {
    background: transparent;
    color: #33A18E;
    text-align: center;
    font-size: clamp(0.6rem, 1vw, 2.5rem);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    width: fit-content;
    border: #33A18E 2px solid;
}

.button:hover {
	background: #33A18E;
	color: white;
}

#background-text {
    position: absolute;
	left: 0;
	top: 0;
	height: 40vh;
	width: 97vw;
	justify-content: center;
	align-items: center;
	display: flex;
    z-index: -1;
	color: rgb(var(--bg-text-color));
	font-size: clamp(1rem, 8.5vw, 30rem);
    font-weight: bold;
	-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.dev-note {
	display: flex;
	color: rgb(var(--dev-note-text-color));
	font-size: clamp(0.6rem, 0.6vw, 1.5rem);
	font-weight: 400;
	margin: 3vh 20px 20px 20px;
	justify-content: right;
	text-wrap: pretty;
}

.dev-note span {
	color: rgb(var(--dev-note-text-span-color));
}

@media screen and (max-width: 790px) {
    .parent {
		height: 15vh;
	}

	#overlay {
		height: 15vh;
	}

	#background-text {
		height: 15vh;
	}

	.dev-note {
		text-align: center;
	}
}