<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="footer.component.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  
  <footer>
    <div class="parent">
      <div id="overlay">
        <h4>// Want to connect?</h4>
        <h1>LET'S TALK</h1>
        <div class="footer-buttons">
          <a routerLink="/contact" class="button">Contact</a>
        </div>
      </div>
      <div id="background-text">
        <h1>&lt;footer&gt;</h1>
      </div>
    </div>
    <div class="dev-note">
      <p>Design and development by <span>Jacob Larsen</span> using the Angular framework.</p>
    </div>
  </footer>
   
</body>
</html>
