* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
    z-index: 10000;
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));
}

nav {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    padding-top: 15px;
    width: 90vw;
    max-width: 4000px;
}
nav .logo {
    display: flex;
    align-items: center;
}
/*
nav .logo img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}
*/
nav .logo a {
    text-decoration: none;
    font-size: clamp(2rem, 2vw, 4.5rem);
    font-weight: bold;
    color: #33A18E;
    background-clip: text;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin-left: 2.0vw;
}
nav ul li a {
    text-decoration: none;
    color: rgb(var(--text-color));
    font-size: clamp(1rem, 0.8vw, 2.5rem);
    font-weight: light;
    padding: 4px 8px;
    border-radius: 5px;
}
nav ul li a span {
    color: #33A18E;
}

nav ul li a:hover {
    background-color: rgb(var(--text-color), 0.1);
}

.vertical-line {
    height: 2vh;
    border-left: clamp(0.1rem, 0.1vw, 0.2rem) solid;
    border-left-color: rgb(var(--text-color));
}

.gg-dark-mode {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: rgb(var(--text-color));
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: fixed;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgb(var(--bg-menubar-color));
    transition: all 0.5s ease-in;
    z-index: 100;
}
.active {
    left: 0;
    box-shadow: rgb(var(--text-color), 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}
.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: rgb(var(--text-color));
    font-size: 100%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a span {
    color: #33A18E;
}

.menubar ul li a:hover {
    background-color: rgb(var(--text-color), 0.1);
}

@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
}
