
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

#overlay {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;
    // align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#overlay h3 {
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-weight: 300;
    color: #33A18E;
    margin: 1% 0;
}

#background-text {
    display: flex;
    font-size: clamp(1rem, 8vw, 30rem);
    font-weight: bold;
    color: rgb(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    height: 92vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#overlay .line {
    width: 100%;
    height: 1px;
    background-color: #33A18E;
    margin-bottom: 10px;
}

#overlay .link-wrapper {
    display: flex;
}

#overlay .column {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}

#overlay .link {
    display: flex;
    font-size: clamp(1rem, 1vw, 2.5rem);
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
    column-gap: 1vw;
}

#overlay .link a, #overlay .link a:visited {
    color: rgb(51, 161, 142, 0.6);
    text-decoration: none;
}

#overlay .link a:hover, #overlay .link a:active {
    color: #33A18E;
}

#overlay .link a:before {
    content: '\1F865';
    margin-right: 2px;
}

@media screen and (max-width: 912px) {
    #overlay {
        width: 80vw;
    }
}

@media screen and (max-width: 650px) {
    #overlay .link-wrapper {
        flex-direction: column;
        margin-right: 0;
    }
}

@media screen and (max-width: 325px) {
    #overlay .link {
        flex-direction: column;
    }
}