<!DOCTYPE html>
<html lang="en">
<head>
    <title>About page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.component.scss">
</head>
<body>
    <div id='overlay'>
        <h3>// Get in touch</h3>
        <div class="line"></div>
        <div class="link-wrapper">
            <div class="column">
                <div class="link">
                    MAIL <a href="mailto:contact@jacoblarsen.dev">contact&#64;jacoblarsen.dev</a>
                </div>
            </div>
            <div class="column">
                <div class="link">
                    SOCIAL <a href="https://www.linkedin.com/in/jacob-larsen-9b7013239/" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div id="background-text">
        <h1>&lt;contact&gt;</h1>
    </div>
</body>
</html>