<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="case-study.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <div class="case-study-wrapper">
        <div class="case-study-desc">
            <img src="../../assets/img/ur-logo.png" alt="ur-logo">
            <h3>GRADUATION PROJECT</h3>
            <h1>DEVELOPMENT OF A MOTION CONTROL SYSTEM AS PART OF AN EDUCATIONAL ROBOT PLATFORM</h1>
            <p>As part of my bachelor of engineering degree in robot systems, I collaborated with Universal Robots on my graduation project.</p>
            <a>UNDER NDA - NO CASE STUDY</a>
        </div>
        <div class="case-study-img">
            <img src="../../assets/img/ur-case-study.png" alt="ur-case-study">
        </div>
    </div>
</body>

</html>