<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="footer.component.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="wrapper">
  	 	<div class="footer-top">
            <p>BACK TO TOP</p>
        </div>
        <div class="footer-mid">
            <h4>WANT TO CONNECT?</h4>
            <h1>LET'S TALK</h1>
        </div>
        <div class="footer-bot">
            Mail: myMail
            <a class="fa fa-linkedin-square" style="font-size:18px; color: #bebebe; text-decoration: none;" href="https://www.linkedin.com/in/jacob-larsen-9b7013239/"></a>
        </div>
  	 </div>
  </footer>

</body>
</html>
