@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 30px;
}

.wrapper{
	max-width: 1170px;
	margin:auto;
}

.footer-mid h4 {
    color: #000000;
}

.footer-mid h1 {
    color: #111;
    font-size: 10em;;
}

