<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="case-study.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <div class="case-study-wrapper" style="--bg-color:{{backgroundColor}}">
        <div class="case-study-img">
            <img src={{image}} alt="ur-case-study">
        </div>
        <div class="case-study-desc">
            <div class="case-study-desc-logo">
                <img src={{logo}} alt="ur-logo">
            </div>
            <div class="case-study-desc-text">
                <h3>{{role}}</h3>
                <h1>{{header}}</h1>
                <p>{{desc}}</p>
            </div>
            <div class="case-study-desc-btn">
                <button>{{buttonText}}</button>
            </div>
        </div>
    </div>
</body>

</html>