.case-study-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 5px;
    position: relative;
    /* background-color: rgb(86, 160, 211); */
    background-color: rgb(var(--bg-color));
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 700px;
}

.case-study-desc {
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    margin-left: 75px;
    width: 40%; 
    height: 100%;
}

.case-study-desc-logo img {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 300px;
    height: 50px;
    object-fit: contain;
    object-position: left;
    pointer-events: none;
}

.case-study-desc h3 {
    margin-top: 250px;
    color: rgba(255, 255, 255, 0.5); 
}

.case-study-desc h1 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.case-study-desc p {
    margin-bottom: 100px;
    max-height: fit-content;
}

.button {
    position: absolute;
    left: 0px;
    bottom: 100px;
    background: rgb(var(--bg-color));
    color: white;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
  
a.button[href="#"] {
    pointer-events: none;
    cursor: not-allowed;
    color: lightgray;
    border: 2px solid lightgray;
}

.case-study-wrapper .case-study-desc button:hover:not(.active) {
    font-weight: bold;
    color: black;
    background-color: white;
}

.case-study-img img, video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    object-fit: contain;
    object-position: right bottom;
    pointer-events: none;
}