<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.component.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Title of the document</title>
</head>

<body>
    <ul class="topnav">
        <li class="name"><a href="#home">JBL</a></li>
        <li class="right-edge"><a href="#contact">CONTACT</a></li>
        <li class="right"><a href="#about">ABOUT</a></li>
        <li class="right"><a href="#work">WORK</a></li>
    </ul>
</body>
</html>