body {
    margin: 0;
    font-family: teko, sans-serif; 
}

ul.topnav {
  list-style-type: none;
  margin: 0 400px;
  padding: 0; 
  overflow: hidden;
}

ul.topnav li {
    float: left;
    margin: 32px 0px;
}

ul.topnav li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

ul.topnav li.name a {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

ul.topnav li.right, ul.topnav li.right-edge {
    float: right;
    font-size: 18px;
    margin: 40px 40px;
}

ul.topnav li.right {
}

ul.topnav li.right-edge {
    margin-right: 0px;
}

ul.topnav li.right a, ul.topnav li.right-edge a {
    color: #ffffff;
}

ul.topnav li.right a:hover:not(.active), ul.topnav li.right-edge a:hover:not(.active) {
    color: #7a7a7a;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
}
}